services:
  beszel-agent:
    image: henrygd/beszel-agent
    container_name: beszel-agent
    restart: always
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./beszel_agent_data:/var/lib/beszel-agent
    environment:
      LISTEN: 45876
      KEY: '${BESZEL_KEY}'
      TOKEN: ${BESZEL_TOKEN}
      HUB_URL: https://beszel.gustavocastro.com