services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: uptime-kuma
    restart: unless-stopped
    volumes:
      - uptime-kuma:/app/data
    labels:
      # Router defined in traefik/dynamic/dynamic.yaml for split-horizon
      - traefik.enable=true
      - traefik.http.services.uptime.loadbalancer.server.port=3001
      - glance.name=uptime-kuma
      - glance.icon=sh:uptime-kuma
      - glance.url=https://uptime.gustavocastro.com/
      - glance.description=uptime tool
      - glance.id=uptime-kuma
    networks:
      - traefik

networks:
  traefik:
    external: true

volumes:
  uptime-kuma:
    external: true