services:
  bitwarden:
    image: ghcr.io/bitwarden/lite:2026.1.0
    container_name: bitwarden
    restart: always
    networks:
      - traefik
    volumes:
      - bitwarden:/etc/bitwarden
      - bitwarden_logs:/var/log/bitwarden
    environment:
      - BW_DOMAIN=bitwarden.gustavocastro.com
      - BW_DB_PROVIDER=sqlite
      - BW_INSTALLATION_ID=b69cd9de-008c-415f-8667-b38e01522c08
      - BW_INSTALLATION_KEY=rME3hreqMeUsUX6P0xaV
      - globalSettings__disableUserRegistration=true
      - adminSettings__admins=me@gustavocastro.com
    labels:
      # Router defined in traefik/dynamic/dynamic.yaml for split-horizon
      - traefik.enable=true
      - traefik.http.services.bitwarden.loadbalancer.server.port=8080
      - docker-volume-backup.copy-post=curl -s -o /dev/null http://uptime-kuma:3001/api/push/H5cVF03sWzYSMwDF0i4bMpssc3bTkmJz?status=up
      - glance.name=bitwarden
      - glance.icon=sh:bitwarden
      - glance.url=https://bitwarden.gustavocastro.com
      - glance.description=password manager
      - glance.id=bitwarden
  backup:
    image: offen/docker-volume-backup:v2.44.0
    container_name: bitwarden-backup
    restart: unless-stopped
    volumes:
      - bitwarden:/backup/bitwarden
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - traefik
    environment:
      - AWS_SECRET_ACCESS_KEY=${R2_SECRET_ACCESS_KEY}
      - AWS_ACCESS_KEY_ID=${R2_ACCESS_KEY_ID}
      - AWS_ENDPOINT=08b6b57d1575fabc2a723fe99391ce8a.r2.cloudflarestorage.com
      - AWS_S3_BUCKET_NAME=backups
      - AWS_S3_PATH=bitwarden
      - BACKUP_CRON_EXPRESSION=0 1 * * *
      - BACKUP_FILENAME=bitwarden-backup-%Y-%m-%dT%H-%M-%S.{{ .Extension }}
      - BACKUP_PRUNING_PREFIX=bitwarden-backup-
      - BACKUP_RETENTION_DAYS=30
      - EXEC_FORWARD_OUTPUT=true
    labels:
      - glance.name=docker-volume-backup
      - glance.parent=bitwarden

volumes:
  bitwarden:
    external: true
  bitwarden_logs:
    external: true

networks:
  traefik:
    external: true