services:
  bitwarden:
    image: ghcr.io/bitwarden/self-host:beta
    container_name: bitwarden
    restart: always
    networks:
      - traefik
    volumes:
      - bitwarden:/etc/bitwarden
      - bitwarden_logs:/var/log/bitwarden
    environment:
      - BW_DOMAIN=bitwarden.gustavocastro.com
      - BW_DB_PROVIDER=sqlite
      - BW_INSTALLATION_ID=b69cd9de-008c-415f-8667-b38e01522c08
      - BW_INSTALLATION_KEY=rME3hreqMeUsUX6P0xaV
      - globalSettings__disableUserRegistration=true
      - adminSettings__admins=me@gustavocastro.com
    labels:
      - traefik.enable=true
      - traefik.http.routers.bitwarden.rule=Host(`bitwarden.gustavocastro.com`)
      - traefik.http.routers.bitwarden.entrypoints=websecure
      - traefik.http.routers.bitwarden.tls=true
      - traefik.http.services.bitwarden.loadbalancer.server.port=8080
      - homepage.group=Hetzner Two
      - homepage.name=Bitwarden
      - homepage.icon=bitwarden.png
      - homepage.href=https://bitwarden.gustavocastro.com/
      - homepage.description=Password manager
      - docker-volume-backup.copy-post=curl -s -o /dev/null https://uptime.gustavocastro.com/api/push/H5cVF03sWzYSMwDF0i4bMpssc3bTkmJz?status=up

  backup:
    image: offen/docker-volume-backup:v2.44.0
    container_name: bitwarden-backup
    volumes:
      - bitwarden:/backup/bitwarden
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - traefik
    environment:
      - AWS_SECRET_ACCESS_KEY=${IDRIVE_SECRET_KEY}
      - AWS_ACCESS_KEY_ID=${IDRIVE_ACCESS_KEY}
      - AWS_ENDPOINT=p8b5.fra.idrivee2-35.com
      - AWS_S3_BUCKET_NAME=backups
      - AWS_S3_PATH=bitwarden
      - BACKUP_CRON_EXPRESSION=0 1 * * *
      - BACKUP_FILENAME=bitwarden-backup-%Y-%m-%dT%H-%M-%S.{{ .Extension }}
      - BACKUP_PRUNING_PREFIX=bitwarden-backup-
      - BACKUP_RETENTION_DAYS=15
      - EXEC_FORWARD_OUTPUT=true
    labels:
      - homepage.group=Hetzner Two
      - homepage.name=Bitwarden backup
      - homepage.icon=docker-volume-backup.png
      - homepage.description=Bitwarden Backup to IDrive

volumes:
  bitwarden:
    external: true
  bitwarden_logs:
    external: true

networks:
  traefik:
    external: true