services:
  paperless-ngx:
    image: paperlessngx/paperless-ngx:2.19.5
    restart: unless-stopped
    ports:
      - 100.125.137.57:8000:8000
    container_name: paperless-ngx
    volumes:
      - paperless-data:/usr/src/paperless/data
      - paperless-media:/usr/src/paperless/media
      - paperless-export:/usr/src/paperless/export
      - paperless-consume:/usr/src/paperless/consume
    environment:
      - PAPERLESS_URL=https://paperless.gustavocastro.com
      - PAPERLESS_SECRET_KEY=${SECRET_KEY}
      - PAPERLESS_OCR_LANGUAGE=eng
      - PAPERLESS_OCR_LANGUAGES=nld
      - PAPERLESS_REDIS=redis://paperless-redis:6379
      - PAPERLESS_TASK_WORKERS=1
      - PAPERLESS_THREADS_PER_WORKER=1
      - PAPERLESS_CONVERT_MEMORY_LIMIT=64
      - PAPERLESS_WEBSERVER_WORKERS=1
    labels:
      - homepage.group=Hetzner One
      - homepage.name=PaperlessNGX
      - homepage.icon=paperless-ngx.png
      - homepage.href=https://paperless.gustavocastro.com/
      - homepage.description=Digital document management
      - docker-volume-backup.copy-post=curl -s -o /dev/null https://uptime.gustavocastro.com/api/push/8MTljV7Qaa2WaSTAJ5LNba8Rdr33RiDH?status=up

  paperless-redis:
    image: redis:8
    container_name: paperless-redis
    volumes:
      - paperless-redis:/data
    labels:
      - homepage.group=Hetzner One
      - homepage.name=PaperlessNGX-redis
      - homepage.icon=redis.png
      - homepage.description=PaperlessNGX Redis database

  paperless-backup:
    image: offen/docker-volume-backup:v2.44.0
    restart: unless-stopped
    container_name: paperless-backup
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - paperless-data:/backup/paperless-data
      - paperless-media:/backup/paperless-media
    environment:
      - AWS_SECRET_ACCESS_KEY=${IDRIVE_SECRET_KEY}
      - AWS_ACCESS_KEY_ID=${IDRIVE_ACCESS_KEY}
      - AWS_ENDPOINT=p8b5.fra.idrivee2-35.com
      - AWS_S3_BUCKET_NAME=backups
      - AWS_S3_PATH=paperless
      - BACKUP_CRON_EXPRESSION=0 1 * * *
      - BACKUP_FILENAME=paperless-backup-%Y-%m-%dT%H-%M-%S.{{ .Extension }}
      - BACKUP_PRUNING_PREFIX=paperless-backup-
      - BACKUP_RETENTION_DAYS=15
      - EXEC_FORWARD_OUTPUT=true
    labels:
      - homepage.group=Hetzner One
      - homepage.name=PaperlessNGX backup
      - homepage.icon=docker-volume-backup.png
      - homepage.description=PaperlessNGX Backup to IDrive

volumes:
  paperless-data:
    external: true
  paperless-media:
    external: true
  paperless-export:
    external: true
  paperless-consume:
    external: true
  paperless-redis:
    external: true

