http:
  routers:
    paperless:
      rule: Host(`paperless.gustavocastro.com`)
      entryPoints:
        - websecure
      service: paperless
      tls: {}
    homepage:
      rule: Host(`home.gustavocastro.com`)
      entryPoints:
        - websecure
      service: homepage
      tls: {}
    linkwarden:
      rule: Host(`linkwarden.gustavocastro.com`)
      entryPoints:
        - websecure
      service: linkwarden
      tls: {}
    papra:
      rule: Host(`papra.gustavocastro.com`)
      entryPoints:
        - websecure
      service: papra
      tls: {}
  services:
    paperless:
      loadBalancer:
        servers:
          - url: "http://10.0.0.3:8000"
    homepage:
      loadBalancer:
        servers:
          - url: "http://10.0.0.3:3000"
    linkwarden:
      loadBalancer:
        servers:
          - url: "http://10.0.0.3:3001"
    papra:
      loadBalancer:
        servers:
          - url: "http://10.0.0.3:1221"