http:
  routers:
    paperless:
      rule: Host(`paperless.gustavocastro.com`)
      entryPoints:
        - web
        - websecure
      service: paperless
      tls: {}
    linkwarden:
      rule: Host(`linkwarden.gustavocastro.com`)
      entryPoints:
        - web
        - websecure
      service: linkwarden
      tls: {}
    papra:
      rule: Host(`papra.gustavocastro.com`)
      entryPoints:
        - web
        - websecure
      service: papra
      tls: {}
    cloudreve:
      rule: Host(`files.gustavocastro.com`)
      entryPoints:
        - web
        - websecure
      service: cloudreve
      tls: {}
  services:
    paperless:
      loadBalancer:
        servers:
          - url: "http://10.0.0.3:8000"
    linkwarden:
      loadBalancer:
        servers:
          - url: "http://10.0.0.3:3001"
    papra:
      loadBalancer:
        servers:
          - url: "http://10.0.0.3:1221"
    cloudreve:
      loadBalancer:
        servers:
          - url: "http://10.0.0.3:5212"