http:
  routers:
    paperless:
      rule: Host(`paperless.gustavocastro.com`)
      entryPoints:
        - websecure
      service: paperless
      tls: {}
    homepage:
      rule: Host(`home.gustavocastro.com`)
      entryPoints:
        - websecure
      service: homepage
      tls: {}
    n8n:
      rule: Host(`n8n.gustavocastro.com`)
      entryPoints:
        - websecure
      service: n8n
      tls: {}
  services:
    paperless:
      loadBalancer:
        servers:
          - url: "http://hetzner-one:8000"
    homepage:
      loadBalancer:
        servers:
          - url: "http://hetzner-one:3000"
    n8n:
      loadBalancer:
        servers:
          - url: "http://hetzner-one:5678"