services:
  cloudreve:
    image: cloudreve/cloudreve:4.10.1
    container_name: cloudreve
    depends_on:
      - redis
    restart: unless-stopped
    ports:
      - 5212:5212
    environment:
      - CR_CONF_Redis.Server=redis:6379
    volumes:
      - cloudreve_data:/cloudreve/data
    labels:
      - glance.name=cloudreve
      - glance.icon=sh:cloudreve
      - glance.url=https://files.gustavocastro.com/
      - glance.description=cloudreve
      - glance.id=cloudreve

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    volumes:
      - cloudreve_redis:/data
    labels:
      - glance.name=redis
      - glance.parent=cloudreve

volumes:
  cloudreve_data:
    external: true
  cloudreve_redis:
    external: true
