services:
  postgres:
    image: postgres:16-alpine
    container_name: linkwarden-postgres
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    restart: always
    volumes:
      - linkwarden_pgdata:/var/lib/postgresql/data
    labels:
      - homepage.group=Hetzner One
      - homepage.name=PostgreSQL
      - homepage.icon=postgresql.png
      - homepage.description=Linkwarden Database
      - glance.name=postgres
      - glance.parent=linkwarden
  linkwarden:
    container_name: linkwarden
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres
      - NEXTAUTH_URL=https://linkwarden.gustavocastro.com/api/v1/auth
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - DISABLE_NEW_SSO_USERS=true
      - NEXT_PUBLIC_DISABLE_REGISTRATION=true
      # - OPENAI_MODEL=gpt-5-nano
      # - OPENAI_API_KEY=${OPENAI_API_KEY}
      - ANTHROPIC_MODEL=claude-haiku-4-5
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
    restart: always
    image: ghcr.io/linkwarden/linkwarden:v2.13.2
    ports:
      - 10.0.0.3:3001:3000
    volumes:
      - linkwarden_data:/data/data
    depends_on:
      - postgres
      # - meilisearch
    labels:
      - glance.name=linkwarden
      - glance.icon=sh:linkwarden
      - glance.url=https://linkwarden.gustavocastro.com/
      - glance.description=bookmarks
      - glance.id=linkwarden

  linkwarden-backup:
    image: offen/docker-volume-backup:v2.44.0
    restart: unless-stopped
    container_name: linkwarden-backup
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - linkwarden_data:/backup/linkwarden_data
    environment:
      - AWS_SECRET_ACCESS_KEY=${R2_SECRET_ACCESS_KEY}
      - AWS_ACCESS_KEY_ID=${R2_ACCESS_KEY_ID}
      - AWS_ENDPOINT=08b6b57d1575fabc2a723fe99391ce8a.r2.cloudflarestorage.com
      - AWS_S3_BUCKET_NAME=backups
      - AWS_S3_PATH=linkwarden
      - BACKUP_CRON_EXPRESSION=0 1 * * *
      - BACKUP_FILENAME=linkwarden-backup-%Y-%m-%dT%H-%M-%S.{{ .Extension }}
      - BACKUP_PRUNING_PREFIX=linkwarden-backup-
      - BACKUP_RETENTION_DAYS=30
      - EXEC_FORWARD_OUTPUT=true
    labels:
      - glance.name=docker-volume-backup
      - glance.parent=linkwarden


  # meilisearch:
  #   image: getmeili/meilisearch:v1.12.8
  #   restart: always
  #   volumes:
  #     - meili_data:/meili_data

volumes:
  linkwarden_pgdata:
    external: true
  linkwarden_data:
    external: true
  meili_data:
    external: true