services:
  vaultwarden:
    image: vaultwarden/server:1.34.3
    container_name: vaultwarden
    restart: unless-stopped
    volumes:
      - vaultwarden:/data
    environment:
      - DOMAIN=https://vaultwarden.gustavocastro.com
    labels:
      - traefik.enable=true
      - traefik.http.routers.vaultwarden.rule=Host(`vaultwarden.gustavocastro.com`)
      - traefik.http.routers.vaultwarden.entrypoints=websecure
      - traefik.http.routers.vaultwarden.tls=true
      - traefik.http.services.vaultwarden.loadbalancer.server.port=80
      - homepage.group=Hetzner Two
      - homepage.name=Vaultwarden
      - homepage.icon=vaultwarden.png
      - homepage.href=https://vaultwarden.gustavocastro.com/
      - homepage.description=Password manager
    networks:
      - traefik
  backup:
    image: offen/docker-volume-backup:v2.44.0
    container_name: vaultwarden-backup
    volumes:
      - vaultwarden:/backup/vaultwarden
    networks:
      - traefik
    environment:
      - AWS_SECRET_ACCESS_KEY=${IDRIVE_SECRET_KEY}
      - AWS_ACCESS_KEY_ID=${IDRIVE_ACCESS_KEY}
      - AWS_ENDPOINT=p8b5.fra.idrivee2-35.com
      - AWS_S3_BUCKET_NAME=backups
      - AWS_S3_PATH=vaultwarden
      - BACKUP_CRON_EXPRESSION=0 1 * * *
      - BACKUP_FILENAME=vaultwarden-backup-%Y-%m-%dT%H-%M-%S.{{ .Extension }}
      - BACKUP_PRUNING_PREFIX=vaultwarden-backup-
      - BACKUP_RETENTION_DAYS=15
      - EXEC_FORWARD_OUTPUT=true
    labels:
      - homepage.group=Hetzner Two
      - homepage.name=Vaultwarden backup
      - homepage.icon=docker-volume-backup.png
      - homepage.description=Vaultwarden Backup to IDrive

volumes:
  vaultwarden:
    external: true

networks:
  traefik:
    external: true
